@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --color-primary: #ea2a33;
  --color-ink: #181111;
  --color-paper-creme: #f8f6f4;
  --color-paper-white: #fdfdfd;

  --font-sans: "Public Sans", system-ui, sans-serif;

  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}

@layer base {
  body {
    @apply bg-paper-creme text-ink font-sans antialiased;
  }
}

@layer components {
  .zen-shadow {
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
  }

  .zen-shadow-lg {
    box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(0, 0, 0, 0.03);
  }

  .inset-shadow-sm {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }

  .kerning-wide {
    letter-spacing: 0.2em;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  }
}

@layer utilities {
  .paper-grain {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCWKMK-WxUc0ekjcpsgposXdpSmcOKg4A8NQRE7xspimMY5MZLegMKT0QIze1CBkgU76zWsMng82C1Acut9MNr2DxuuaUKtRUPvf6ZV8lk5IlWTLP0DWnz65YeBQvdK_j947VkcNqi83WcCBgUnzX-Ou6xYBN6hDXPIzV_yrTYT67-gTJ7bXBq9R7KQ3_njGdkJQNbo9SFN0g3h8SNthUHoXAdayvBhVedintwH8LnmOMyvvh1dPGJCedpYQupezXR2NvduqFDCePj1);
    opacity: 0.04;
    pointer-events: none;
  }
}